<div class="grid-containerApp ">
    <div class="item1App">
       Dostavljaci :
      <table class="content-table" >
        <thead>
          <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Birth date</th>
            <th>Adress</th>
            <th>Profil Image</th>
            <th>User Type</th>
            <th>Account Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dostavljac of dostavljaci; let i = index">
            <td>{{dostavljac.KorisnickoIme}}</td>
            <td>{{dostavljac.Email}}</td>
            <td>{{dostavljac.ImePrezime}}</td>
            <td>{{dostavljac.DatumRodjenja}}</td>
            <td>{{dostavljac.Adresa}}</td>
            <td>{{dostavljac.Slika}}</td>
            <td>{{dostavljac.TipKorisnika}}</td>
            <td>
                <input *ngIf="dostavljac.StatusProfila != 2"(change)="checkValue($event,dostavljac.IdDostavljac,dostavljac.StatusProfila)" [(ngModel)]="dostavljac.StatusProfila" type="checkbox"/>
                <button *ngIf="dostavljac.StatusProfila == 2" (click)="prihvatiAcc($event,dostavljac.IdDostavljac)">Prihvati</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

